@model IEnumerable<Parcial3_AriasRoldanNatalia.Models.EstateServiceViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Estado de su servicio</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehiclePlateumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th><th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehiclePlateumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceService)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
            </tr>
        }
    </tbody>
</table>

