@model IEnumerable<Parcial3_AriasRoldanNatalia.DAL.Entities.VehicleDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Servicios en proceso</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.NumberPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicles.Services.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicles.Owner.FullName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Vehicles.NumberPlate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicles.Services.Name)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
